<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.todo.todolist.mappers.TodoMapper">
    <select id="findAll" resultType="com.todo.todolist.dto.ResponseTodo">
        SELECT * FROM todo
    </select>

    <select id="findById" parameterType="Long" resultType="com.todo.todolist.dto.ResponseTodo">
        SELECT * FROM todo WHERE id = #{id}
    </select>
</mapper>